@font-face {
	font-family: 'p88';
	src: url("../font/me_quran.ttf") format("truetype");
}

@font-face {
	font-family: 'pdms';
	src: url("../font/PDMS_ISLAMICFONT.ttf") format("truetype");
}

.in-color {
	color: #f0ad4e;
}

.highlight-terms {
	font-weight: bold;
}

.nope {
	text-decoration: none
}

.white, .white a {
	color: #fff;
}

.normal-font {
	font-size: 20px;
}

.arabic {
	font-family: 'p88';
	direction: rtl;
	line-height: 180%;
	text-align: justify;
	padding: 20px 10px;
}

.bracket {
	font-family: 'pdms';
	font-size: 23px;
}

.quran-frame-top {
	background: rgba(0, 0, 0, 0) url("../img/qtop.gif") no-repeat scroll 0 0;
	height: 24px;
}

.quran-frame-mid {
	background: rgba(0, 0, 0, 0) url("../img/qmiddle.gif") repeat-y scroll 0
		0;
	overflow: hidden;
	padding-left: 30px;
	padding-right: 30px;
}

.quran-frame-bot {
	background: rgba(0, 0, 0, 0) url("../img/qbottom.gif") no-repeat scroll
		0 0;
	height: 24px;
}

.mushaf-text {
	font-family: 'p88';
	direction: rtl;
	font-size: 23px;
	text-align: justify;
	margin: auto;
	padding: auto;
	text-align: justify;
	text-align-last: justify;
}

.mushaf-text:after {
	content: "";
	display: inline-block;
	width: 100%;
}

.mushaf-long-text {
	font-family: 'p88';
	direction: rtl;
	font-size: 20px;
	text-align: justify;
	margin: auto;
	padding: auto;
	text-align: justify;
	text-align-last: justify;
}

.mushaf-long-text:after {
	content: "";
	display: inline-block;
	width: 100%;
}

.fulljustify {
	text-align-last: justify;
	text-justify: distribute;
	display: inline-block;
	text-align: justify !important;
	margin-left: auto;
	margin-right: auto;
	text-justify: inter-word;
}

.fulljustify:after {
	content: "";
	display: inline-block;
	width: 560px;
	-moz-text-align-last: justify;
	text-align-last: justify;
}

.mushaf {
	line-height: 20px;
	max-width: 560px;
	min-width: 560px;
	width: 560px;
	text-align: justify !important;
	text-justify: inter-word;
}

.fulljustify-turn {
	text-align-last: justify;
	text-justify: distribute;
	display: inline-block;
	text-align: justify !important;
	margin-left: auto;
	margin-right: auto;
	text-justify: inter-word;
}

.fulljustify-turn:after {
	content: "";
	display: inline-block;
	width: 550px;
	-moz-text-align-last: justify;
	text-align-last: justify;
}

.mushaf-turn {
	line-height: 20px;
	max-width: 500px;
	min-width: 500px;
	width: 550px;
	text-align: justify !important;
	text-justify: inter-word;
}

.arabic-big {
	font-family: 'p88';
	font-size: 30px;
	direction: rtl;
	line-height: 180%;
	text-align: justify;
	padding: 20px 10px;
}

.table-quran {
	direction: rtl;
}

.holder {
	direction: rtl;
	padding: 5px;
}

.kata {
	border: 1px blue solid;
	direction: rtl;
	float: right;
	margin: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
}

.arab-perkata {
	font-family: 'p88';
	font-size: 30px;
	direction: rtl;
	text-align: center;
}

.perkata {
	width: 50px;
	font-size: 12px;
	display: inline-block;
	hyphens: auto;
	word-break: normal;
	text-align: center;
}

.quran-title {
	font-family: 'p88';
	font-size: 30px;
}

.gundul {
	min-width: 700px;
}

.arabic-simple {
	font-family: 'p88';
	font-size: 30px;
	direction: rtl;
	line-height: 180%;
	text-align: justify;
	padding: 20px 10px;
}

.arabic:hover {
	
}

.artext {
	direction: rtl;
}

.intext {
    margin: 0;
    padding: 0;
}

.indo-word {
	display: none;
}

.arabic-word {
	font-family: 'p88';
	padding: 5px;
	direction: rtl;
	line-height: 180%;
	text-align: justify;
}

.arabic-word:hover {
	color: #000;
}

a.disable-color {
	text-decoration: none;
	color: #000;
}

a.disable-color:hover {
	text-decoration: none;
	color: #4db743;
}

.tooltip {
	font-size: 17px;
}

.arabic-hadits {
	font-family: 'p88';
	font-size: 30px;
	direction: rtl;
	line-height: 180%;
	text-align: justify;
}

.label-kitab {
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.label-bab {
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.perawi-color {
	color: #448bf4;
}